* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: #cbe200 #cbe200;
}

body {
  font-family: "Montserrat", sans-serif;
  /* No es necesario definir el height */
  /* height: 100vh; */
  width: 100%;
}

header {
  background-color: #fff;
  /* Removeria el padding, para evitar que la lista de links en mobile no tenga 2 lineas blancas en los bordes */
  padding: 5px;
  box-shadow: 0 0 29px 0 rgba(134, 134, 134, 0.25);
  position: fixed;
  /* z-index: 1; */
  width: 100vw;
}

/* menu hamburguesa */

.nav-menu {
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav-menu-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.nav-menu-controls .open {
  display: block;
  height: 35px;
  width: 35px;
  /* Porque utilizas propiedades de background cuando no tenes un background definido... */
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 10px;
}

.nav-menu-controls .close {
  height: 35px;
  width: 35px;
  /* Porque utilizas propiedades de background cuando no tenes un background definido... */
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 10px;
}

.nav-menu-menulinks {
  display: none;
  background-color: #6b62ff;
  width: 100%;
  height: calc(100vh - 60px);
  /* height: 100vh; */
  padding: 20px;
}

.close {
  display: none;
}

#menu:target .nav-menu-menulinks {
  display: block;
}

#menu:target .open {
  display: none;
}

#menu:target .close {
  display: block;
}

.link-mobile-estila {
  color: #cbe200;
  font-size: 30px;
  font-weight: 700;
}

.link-mobile-estila:hover {
  color: #f6f7fb;
}

@media screen and (min-width: 769px) {
  .nav-menu-controls {
    display: none;
  }

  .nav-menu {
    display: none;
  }

  .menu-desktop {
    display: block;
  }
}

/* Seccion header */

.contenedor-links {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.lista-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.link {
  margin: 20px;
}

.link-color {
  color: #616161;
}
.link-color:hover {
  color: #6b62ff;
}

.link-seleccion:hover {
  background-color: #cbe200;
}
ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

/* seccion hola */

.seccion-hola {
  background-color: #f0f0f0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.card-hola {
  margin-top: 220px;
  margin-bottom: 220px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.contenedor-texto {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  /* width: 800px;
  margin-left: 20px; */
}

.texto-saludo {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 50px;

  font-weight: 900;
}

.texto-nombre {
  font-size: 60px;
  margin-bottom: 6px;
  font-weight: 900;
  color: #cbe200;
}

.texto-descripcion {
  color: #616161;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 180px;
  max-width: 470px;
  line-height: 25px;
}

.link-seleccion {
  background-color: #6b62ff;
  color: #f0f0f0;
  font-size: 15px;
  font-weight: 400;
  border-radius: 100px;
  padding: 15px 40px;
  width: 200px;
  display: flex;
  justify-content: center;
}

.contenedor-imagen {
  max-width: 100vw;
}

img {
  width: 100%;
}

/* seccion conocimientos */

.contenedor-conocimientos {
  background-color: #f6f7fb;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor-cards {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo-conocimientos {
  margin-top: 100px;
  font-size: 50px;
  font-weight: 900;
}

.descripcion-conocimientos {
  color: #616161;
  text-align: center;
  font-size: 15px;
  margin-top: 50px;
  margin-bottom: 20px;
  width: 400px;
}

.contenedor-habilidades {
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
}

.card {
  background-color: #ffffff;
  border: 1px solid #dddfe5;
  border-radius: 10px;
  width: 250px;
  height: 250px;
  padding: 25px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.card:hover {
  border: 2px solid #cbe200;
}

.dop-icon {
  width: 150px;
  height: 150px;
}

.text-categoria-conocimiento {
  font-size: 15px;
  font-weight: 700;
  display: flex;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* seccion frase */

.seccion-frase {
  background-color: #6b62ff;
  display: flex;
  justify-content: center;
}

.contenedor-frase {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  margin-top: 100px;
  margin-bottom: 150px;
}

.icono-quote {
  font-size: 100px;
  margin-bottom: 30px;
  color: #f0f0f0;
}

q {
  color: #f0f0f0;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 50px;
  text-align: center;
}

h3 {
  color: #f0f0f0;
  font-size: 30px;
  font-weight: 900;
}

/* seccion Proyectos */

.seccion-proyectos {
  background-color: #fefefe;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor-general-proyectos {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-top: 50px;
}

.contenedor-proyectos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin-top: 50px;
  margin-bottom: 20px;
}

.card-proy {
  background-color: #ffffff;
  border: 1px solid #dddfe5;
  border-radius: 10px;
  width: 350px;
  height: 350px;
  padding: 25px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.card-proy:hover {
  border: 2px solid #cbe200;
}

.titulo-proyectos {
  margin-top: 100px;
  font-size: 50px;
  font-weight: 900;
}

.descripcion-proyectos {
  color: #616161;
  text-align: center;
  font-size: 15px;
  margin-top: 50px;
  margin-bottom: 20px;
  width: 400px;
}

.imagen-proyecto {
  width: 300px;
  height: 170px;
  margin-top: 20px;
}

.nombre-proyecto {
  font-size: 15px;
  font-weight: 700;
  display: flex;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 20px;
}

/* seccion contacto */

.seccion-contacto {
  background-color: #f6f7fb;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.contenedor-info {
  background-color: #ffffff;
  border-radius: 15px;
  border: 1px solid #e0e0e0;
  padding: 75px 60px;
  display: flex;
  flex-direction: row;
  align-items: start;
  align-content: center;
  justify-content: center;
  width: 70%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.contenedor-contactame {
  width: 50%;
  margin-right: 20px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.titulo-contactame {
  font-size: 50px;
  font-weight: 900;
}

.icono-redsocial {
  width: 50px;
  height: 50px;
  padding: 3px;
  background-color: #fff;
  color: #6b62ff;
  border-radius: 50%;
  font-size: 30px;
  margin-right: 10px;
  text-align: center;
  align-content: center;
}

.icono-redsocial:hover {
  background-color: #cbe200;
  color: #ffffff;
}

.contenedor-redessociales {
  margin-top: 8px;
  margin-bottom: 4px;
}

.items-redes {
  display: flex;
  margin: 5px 0 5px 0;
}

.text-link-redes {
  color: #6b62ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-link-redes:hover {
  color: #cbe200;
}

.texto-contactame {
  color: #616161;
  text-align: start;
  font-size: 15px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contenedor-formulario {
  width: 50%;
  margin-left: 20px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.titulo-formulario {
  font-size: 50px;
  font-weight: 900;
}

.formulario {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.datos-nombre-completo {
  display: flex;

  margin-top: 30px;
  gap: 5%;
  width: 100%;
}

.dato-nombre {
  width: 50%;
}

label,
input {
  display: block;
}

label {
  font-weight: 600;
  margin-top: 12px;
}

input {
  border-radius: 20px;
  background-color: #f6f7fb;
  border: 1px solid #f6f7fb;
  padding: 8px;
  width: 100%;
  margin-top: 8px;
  outline: none;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

textarea {
  width: 100%;
  margin-top: 8px;
  padding: 8px;
  border-radius: 20px;
  outline: none;
  background-color: #f6f7fb;
  border: 1px solid #f6f7fb;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.contenedor-boton-enviar-form {
  display: flex;
  margin-top: 20px;
}

.boton-enviar-form {
  display: flex;
  justify-content: center;
  background-color: #6b62ff;
  color: white;
  border-radius: 100px;
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  width: 20%;
  padding: 15px 30px;
  border: 0;
}

.boton-enviar-form:hover {
  background-color: #cbe200;
}

.seccion-footer {
  background-color: #6b62ff;
  display: flex;
  justify-content: center;
  width: 100%;
}
.contenedor-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 20px 60px;
  color: white;
  width: 100%;
}

.nav-footer {
  display: flex;
}

.item-nav-footer {
  color: #f0f0f0;
  margin: 0 10px;
  display: flex;
}

.nav-footer-redsocial {
  width: 100%;
  display: flex;
  margin-top: 40px;
  gap: 20px;
}
.item-social-item {
  display: flex;
  width: 40%;
}

.icon-redsocial-footer {
  display: flex;
  text-align: center;
  align-content: center;
  width: 50px;
  height: 50px;
  background-color: white;
  color: #6b62ff;
  border-radius: 50%;
  font-size: 30px;
}

.icon-redsocial-footer:hover {
  color: #fff;
  background-color: #6b62ff;
  border: 1px solid #fff;
}

.nota-footer {
  margin-top: 40px;
}

/* ----------------------------------------*/
/* Media Queries */

@media screen and (769px <= width <= 1000px) {
  .contenedor-info {
    flex-direction: column;
  }

  .contenedor-contactame {
    width: 100%;
  }

  .contenedor-formulario {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  /* Seccion Hola */

  /* .contenedor-links {
    max-width: 100vw;
    display: none;
  }

  .nav-menu-controls {
    display: block;
  } */

  .menu-desktop {
    display: none;
  }

  .seccion-hola {
    max-width: 100vw;
  }
  .card-hola {
    max-width: 100vw;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
  }
  .texto-descripcion {
    margin-bottom: 80px;
  }

  .contenedor-imagen {
    max-width: 100vw;
  }

  img {
    width: 100%;
  }

  .loquehago-link {
    align-self: center;
  }

  .contenedor-texto {
    max-width: 100vw;
    text-align: center;
  }

  /* Seccion Conocimiento */

  .contenedor-habilidades {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
  }

  .titulo-conocimientos {
    margin-top: 60px;
  }

  .descripcion-conocimientos {
    margin-top: 30px;
  }

  /* Seccion Frase */

  q {
    width: 70vw;
  }

  /* Seccion Proyectos */

  .titulo-proyectos {
    margin-top: 60px;
  }

  .contenedor-proyectos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 60px;
    width: 100vw;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .card-proy {
    width: 300px;
    height: 300px;
  }

  .nombre-proyecto {
    margin-top: 40px;
  }

  /* Seccion Contactame */

  .contenedor-info {
    max-width: 100vw;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  .seccion-contacto {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }

  .contenedor-info {
    width: 95vw;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contenedor-contactame {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .texto-contactame {
    text-align: start;
    width: 53vw;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .contenedor-redessociales {
    margin-bottom: 30px;
    width: 100%;
  }

  .contenedor-formulario {
    width: 60vw;
  }

  .seccion-footer {
    width: 100vw;
  }

  .contenedor-footer {
    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 60px;
    padding-left: 20px;
    width: 100vw;
  }
}

@media (320px <= width <= 576px) {
  /* Seccion Hola */

  .menu-desktop {
    display: none;
  }
  .seccion-hola {
    max-width: 100vw;
  }
  .card-hola {
    max-width: 100vw;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .texto-descripcion {
    margin-bottom: 80px;
  }

  .contenedor-imagen {
    width: 100vw;
    margin-top: 120px;
  }

  /* Seccion-conocimientos */

  .titulo-conocimientos {
    font-size: 25px;
  }

  .descripcion-conocimientos {
    max-width: 300px;
  }

  /* Seccion Proyectos */

  .titulo-proyectos {
    font-size: 25px;
  }

  .descripcion-proyectos {
    max-width: 300px;
  }

  .contenedor-proyectos {
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    padding-left: 20px;
  }

  .card-proy {
    width: 250px;
    height: 250px;
  }

  .imagen-proyecto {
    width: 230px;
    height: 120px;
  }

  /* seccion contactame */

  .contenedor-info {
    max-width: 140vw;
  }

  .contenedor-contactame {
    max-width: 100vw;
    padding: 0;
    margin: 0;
  }
  .titulo-contactame {
    font-size: 25px;
    align-self: center;
  }

  .texto-contactame {
    max-width: 100vw;
    text-align: left;
  }

  .contenedor-redessociales {
    display: flex;
    justify-content: center;
  }

  .icono-redsocial {
    font-size: 20px;
    margin-right: 0;
  }

  .contenedor-formulario {
    margin: 0;
  }

  .titulo-formulario {
    font-size: 25px;
  }
}

/* @media screen and (max-width: 425px) {
  h2 {
    font-size: 40px;
  }
} */
