* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  width: 100%;
}

header {
  background-color: #fff;
  padding: 5px;
  box-shadow: 0 0 29px 0 rgba(134, 134, 134, 0.25);
  position: fixed;
  width: 100%;
}

.contenedor-links {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.lista-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.link {
  margin: 20px;
}

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

.seccion-hola {
  background-color: #f0f0f0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.card-hola {
  margin-top: 220px;
  margin-bottom: 220px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1100px;
}

.contenedor-texto {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin-left: 20px;
}

.texto-saludo {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 50px;

  font-weight: 900;
}

.texto-nombre {
  font-size: 60px;
  margin-bottom: 6px;
  font-weight: 900;
  color: #cbe200;
}

.texto-descripcion {
  color: #616161;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 180px;
  width: 470px;
  line-height: 25px;
}

.link-seleccion {
  background-color: #6b62ff;
  color: #f0f0f0;
  font-size: 15px;
  font-weight: 400;
  border-radius: 100px;
  padding: 15px 40px;
  width: 200px;
  display: flex;
  justify-content: center;
}

img {
  width: 500px;
  height: 500px;
}

/* seccion conocimientos */

.contenedor-conocimientos {
  background-color: #f6f7fb;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor-cards {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo-conocimientos {
  margin-top: 100px;
  font-size: 50px;
  font-weight: 900;
}

.descripcion-conocimientos {
  color: #616161;
  text-align: center;
  font-size: 15px;
  margin-top: 50px;
  margin-bottom: 20px;
  width: 400px;
}

.contenedor-habilidades {
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
}

.card {
  background-color: #ffffff;
  border: 1px solid #dddfe5;
  border-radius: 10px;
  width: 250px;
  height: 250px;
  padding: 25px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.dop-icon {
  width: 150px;
  height: 150px;
}

.text-categoria-conocimiento {
  font-size: 15px;
  font-weight: 700;
  display: flex;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* seccion frase */

.seccion-frase {
  background-color: #6b62ff;
  display: flex;
  justify-content: center;
}

.contenedor-frase {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  margin-top: 100px;
  margin-bottom: 150px;
}

.icono-quote {
  font-size: 100px;
  margin-bottom: 30px;
  color: #f0f0f0;
}

q {
  color: #f0f0f0;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 50px;
  text-align: center;
}

h3 {
  color: #f0f0f0;
  font-size: 30px;
  font-weight: 900;
}

/* seccion Proyectos */

.seccion-proyectos {
  background-color: #fefefe;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor-general-proyectos {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-top: 50px;
}

.contenedor-proyectos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin-top: 50px;
  margin-bottom: 20px;
}

.card-proy {
  background-color: #ffffff;
  border: 1px solid #dddfe5;
  border-radius: 10px;
  width: 350px;
  height: 350px;
  padding: 25px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.titulo-proyectos {
  margin-top: 100px;
  font-size: 50px;
  font-weight: 900;
}

.descripcion-proyectos {
  color: #616161;
  text-align: center;
  font-size: 15px;
  margin-top: 50px;
  margin-bottom: 20px;
  width: 400px;
}

.imagen-proyecto {
  width: 300px;
  height: 170px;
  margin-top: 20px;
}

.nombre-proyecto {
  font-size: 15px;
  font-weight: 700;
  display: flex;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 20px;
}

/* seccion Proyectos */

.seccion-contacto {
  background-color: #f6f7fb;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor-info {
  background-color: #ffffff;
  border-radius: 15px;
  border: 1px solid #e0e0e0;
  padding: 75px 60px;
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 80%;
  margin-top: 100px;
}

.contenedor-contactame {
  width: 50%;
  margin-right: 20px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.titulo-contactame {
  font-size: 50px;
  font-weight: 900;
}

.icono-redsocial {
  display: block;
  width: 2.2rem;
  height: 2.2rem;
  background-color: #fff;
  color: #8338ec;
  border-radius: 50%;
  font-size: 1.2rem;
  line-height: 2.2rem;
  margin-right: 10px;
  text-align: center;
  transition: 0.2s;
}

.contenedor-formulario {
  width: 50%;
  margin-left: 20px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.titulo-formulario {
  font-size: 50px;
  font-weight: 900;
}

.texto-contactame {
  color: #616161;
  text-align: start;
  font-size: 15px;
  margin-top: 50px;
  margin-bottom: 50px;
  width: ;
}

.contenedor-redessociales {
  margin-top: 10px;
}

.items-redes {
  margin: 10px;
  display: flex;
}

.text-link-redes {
  color: #8338ec;
}
